.page-header.page-header-xs {
    min-height: 25vh !important;
}

.section {
    padding: 70px 0;
    position: relative;
    background-color: #2b3e50;
}

.container { padding-left:20px; padding-right:20px; }
.event-image { height: 100px; }
a {cursor:pointer}