

  <div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('../assets/img/fabio-mangione.jpg');">
      <div class="filter"></div>
  </div>
    <div class="section profile-content">
        <div class="container">
          <div class="owner">
            <div class="avatar">
                <img src="../assets/img/faces/joe-gardner-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
            </div>
            <div class="name">
                <h2 class="title"
                 style="color: White "   
                >Projects<br /></h2>
               <!--  <h6 class="description">My Projects</h6> -->
            </div>
        </div>
        <div class="row">
          <div class="container textProject">
            <img [src]="event?.imageUrl" [alt]="event?.name" class="event-image">
          
            <div class="row">
              <div class="col-md-11">
                <h2>{{event?.name}} </h2>
              </div>
            </div>
          
            <div class="row">
              <div class="col-md-6">
                <div><strong>Date:</strong> {{event?.date}}</div>
                <div><strong>Time:</strong> {{event?.time}}</div>
                <div><strong>Price:</strong> ${{event?.price}}</div>
              </div>
              <div class="col-md-6">
                <address>
                  <strong>Address:</strong><br />
                  {{event?.location?.address}}<br />
                  {{event?.location?.city}}, {{event?.location?.country}}
                </address>
              </div>
            </div>
          </div>
          </div>
        </div>
    </div>
  </div>
  

