.pad-left { margin-left: 10px; }
.thumbnail { min-height: 210px; }
.well div { 
    color: #ebebeb; 
}
.thumbnail { 
    min-height: 210px; 
    background-color: #4e5d6c;
}

.hoverwell:hover {
    background-color: #485563;
    cursor: pointer;
  }
  
  .pointable {
    cursor: pointer;
  }

  .projectThumbnailHeader{
      color: yellow;
      text-align: center;
      padding-bottom:10px;
  }

  .projectThumbnailBody{
    padding-left: 10px;
  }